.carousel_edit img {
	height: 100vh;
    width: 100%;
    object-fit: cover;
}

.carousel-indicators .active {
    background-color: #3195ed !important;
}

.carousel-indicators li {
	background-color: white !important;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: left !important;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15% !important;
    list-style: none;
}
.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    max-width: 9px !important;
    height: 9px !important;
    margin-right: 3px;
    border-radius: 26px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(255,255,255,.5);
}


.content_about_cover {
    position: absolute;
    top: 18%;
    width: 100%;
    color: white;
}

.content_about_cover h2 {	
	font-size: 44px;
	font-family: 'Poppins-Light';
}

.content_about_cover p {
	line-height: 186%;
    opacity: 0.8;
}


/*Second Section about page*/

.section_two_about {
	padding: 5% 10px;
}

.section_two_about h2 {
    color: #3195ed;
    font-size: 37px;
    font-family: 'Wavehaus-95SemiBold';
}

.section_three_about {
	background-image: url('../img/cover/about_section_3.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	padding: 8% 10px 8%;
	color: white;
}

.section_three_about h2 {	
	font-size: 44px;
	font-family: 'Poppins-Light';
}

.section_three_about p {	
	font-size: 16px;
	opacity: 0.8;
}

.blured.true {
    filter: blur(10px);
    transition: all 0.2s ease-in;
}

.contact__form {
    width: 60%;
    height: auto;
    background: #3195ed;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(100%, -50%);
    transition: all 0.3s ease-in;
}

.contact__form i {
    float: right;
    padding: 20px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.contact__form h4 {
    font-family: 'Poppins-Light';
    font-size: 24px;
    text-align: center;
    padding-top: 10%;
    color: #fff;
}

.contact-inputs {
    width: 60%;
    height: auto;
    margin: 45px auto;
    position: relative;
    overflow: auto;
    padding-bottom: 5%;
}

.contact__form.revealed {
    transform: translate(-50%, -50%);
}

.inputs {
    float: left;
}

.inputs label{
    margin-bottom: 0;
    font-size: 11px;
    color: #fff;
}

.inputs textarea {
    float: left;
    width: 100%;
    border-radius: 8px;
    border-color: #fff;
}

.inputs input {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    border-color: #fff;
}

.submit {
    font-family: 'Poppins-Light';
    margin-top: 15px;
    background: #4f5197;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-top: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 50px;
}

.submit:hover {
    opacity: 0.8;
}

.no-padding-left {
    padding-left: 0 !important;
}

@media only screen and (max-width: 800px) {

    .contact__form h4 {
        font-size: 13px;
    }

    .contact__form {
        width: 80%;
    }
    .contact-inputs {
        margin: 20px auto;
        width: 90%;
    }
}

@media only screen and (max-width: 450px) {
    .contact__form h4 {
        padding-left: 5px;
        margin-top: -8px;
        font-size: 12px;
    }
}